parameters:
	ignoreErrors:
		-
			message: '#^Variable \$aliasTo on left side of \?\?\= is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Container/DriverInterfaceFactoryFactory.php

		-
			message: '#^Cannot call static method createFromConfig\(\) on callable\.$#'
			identifier: staticMethod.nonObject
			count: 1
			path: src/Container/MysqliDriverFactory.php

		-
			message: '#^Cannot call static method createFromConfig\(\) on callable\.$#'
			identifier: staticMethod.nonObject
			count: 1
			path: src/Container/PdoDriverFactory.php

		-
			message: '#^Method PhpDb\\Adapter\\Profiler\\ProfilerInterface\:\:profilerFinish\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Driver/Mysqli/Connection.php

		-
			message: '#^PHPDoc type mysqli of property PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Connection\:\:\$resource is not covariant with PHPDoc type resource\|null of overridden property PhpDb\\Adapter\\Driver\\AbstractConnection\:\:\$resource\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Driver/Mysqli/Connection.php

		-
			message: '#^Property PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Connection\:\:\$driver \(PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Mysqli\) does not accept PhpDb\\Adapter\\Driver\\DriverInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Driver/Mysqli/Connection.php

		-
			message: '#^Property PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Connection\:\:\$resource \(mysqli\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Driver/Mysqli/Connection.php

		-
			message: '#^Strict comparison using \!\=\= between null and null will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: src/Driver/Mysqli/Connection.php

		-
			message: '#^Variable \$names in PHPDoc tag @var does not match assigned variable \$findParameterValue\.$#'
			identifier: varTag.differentVariable
			count: 1
			path: src/Driver/Mysqli/Connection.php

		-
			message: '#^Instanceof between PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Connection and PhpDb\\Adapter\\Driver\\DriverAwareInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Instanceof between PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Connection and PhpDb\\Adapter\\Profiler\\ProfilerAwareInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Instanceof between PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement and PhpDb\\Adapter\\Driver\\DriverAwareInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Instanceof between PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement and PhpDb\\Adapter\\Profiler\\ProfilerAwareInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Mysqli\:\:getResultPrototype\(\) should return PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Result but returns PhpDb\\Adapter\\Driver\\ResultInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Parameter \#1 \$resource \(mysqli\|mysqli_stmt\|PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\mysqli_result\) of method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Mysqli\:\:createResult\(\) should be compatible with parameter \$resource \(resource\) of method PhpDb\\Adapter\\Driver\\DriverInterface\:\:createResult\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Parameter \$resource of method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Mysqli\:\:createResult\(\) has invalid type PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\mysqli_result\.$#'
			identifier: class.notFound
			count: 1
			path: src/Driver/Mysqli/Mysqli.php

		-
			message: '#^Instanceof between mysqli_stmt and mysqli_stmt will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Driver/Mysqli/Result.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Result\:\:initialize\(\) has PhpDb\\Adapter\\Exception\\InvalidArgumentException in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: src/Driver/Mysqli/Result.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Result\:\:isBuffered\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Driver/Mysqli/Result.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Driver/Mysqli/Result.php

		-
			message: '#^Instanceof between PhpDb\\Adapter\\ParameterContainer and PhpDb\\Adapter\\ParameterContainer will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Instanceof between mysqli_stmt and mysqli_stmt will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement\:\:execute\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement\:\:getParameterContainer\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement\:\:getSql\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Property PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement\:\:\$driver \(PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Mysqli\) does not accept PhpDb\\Adapter\\Driver\\DriverInterface\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Return type \(mysqli_stmt\) of method PhpDb\\Adapter\\Mysql\\Driver\\Mysqli\\Statement\:\:getResource\(\) should be compatible with return type \(resource\) of method PhpDb\\Adapter\\Driver\\StatementInterface\:\:getResource\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Driver/Mysqli/Statement.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Driver/Pdo/Connection.php

		-
			message: '#^Parameter \#1 \$name \(string\) of method PhpDb\\Adapter\\Mysql\\Driver\\Pdo\\Connection\:\:getLastGeneratedValue\(\) should be compatible with parameter \$name \(null\) of method PhpDb\\Adapter\\Driver\\ConnectionInterface\:\:getLastGeneratedValue\(\)$#'
			identifier: method.childParameterType
			count: 2
			path: src/Driver/Pdo/Connection.php

		-
			message: '#^Parameter \#2 \$parameters of class PhpDb\\Adapter\\Exception\\InvalidConnectionParametersException constructor expects int, array given\.$#'
			identifier: argument.type
			count: 2
			path: src/Driver/Pdo/Connection.php

		-
			message: '#^Parameter \#1 \$resource \(PDOStatement\) of method PhpDb\\Adapter\\Mysql\\Driver\\Pdo\\Pdo\:\:createResult\(\) should be compatible with parameter \$resource \(resource\) of method PhpDb\\Adapter\\Driver\\DriverInterface\:\:createResult\(\)$#'
			identifier: method.childParameterType
			count: 3
			path: src/Driver/Pdo/Pdo.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<int, array\<int, string\>\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Metadata/Source/MysqlMetadata.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<int, list\<string\>\> given\.$#'
			identifier: argument.type
			count: 4
			path: src/Metadata/Source/MysqlMetadata.php

		-
			message: '#^Variable \$isFK might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Metadata/Source/MysqlMetadata.php

		-
			message: '#^Variable \$name might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Metadata/Source/MysqlMetadata.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Sql\\Platform\\Mysql\\Ddl\\CreateTableDecorator\:\:processColumns\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Sql/Platform/Mysql/Ddl/CreateTableDecorator.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Sql\\Platform\\Mysql\\Ddl\\CreateTableDecorator\:\:processColumns\(\) should return array\<array\<string\>\>\|null but empty return statement found\.$#'
			identifier: return.empty
			count: 1
			path: src/Sql/Platform/Mysql/Ddl/CreateTableDecorator.php

		-
			message: '#^Method PhpDb\\Adapter\\Mysql\\Sql\\Platform\\Mysql\\SelectDecorator\:\:processLimit\(\) should return array\<string\>\|null but returns array\<int, int\>\.$#'
			identifier: return.type
			count: 1
			path: src/Sql/Platform/Mysql/SelectDecorator.php

		-
			message: '#^Offset ''paramPrefix'' does not exist on string\.$#'
			identifier: offsetAccess.notFound
			count: 2
			path: src/Sql/Platform/Mysql/SelectDecorator.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsInt\(\) with int will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: test/integration/Driver/Pdo/ConnectionTest.php

		-
			message: '#^Method PhpDbIntegrationTest\\Adapter\\Mysql\\Driver\\Pdo\\TableGatewayTest\:\:testInsertWithExtendedCharsetFieldName\(\) never returns string so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: test/integration/Driver/Pdo/TableGatewayTest.php
